---
layout: default
lang: fr
---

<main class="main-container">
    <div class="content-container">
        <header class="header">
            <div class="header-title-container">
                <h1 class="main-title">Rémy Maucourt</h1>
                <div class="subtitle">{{ site.data[site.active_lang].strings.subtitle }}</div>
            </div>

            <div class="langage-selector">
                {% for lang in site.languages %}
                    <a
                        class="langage-link {% if lang == site.active_lang %}selected-langage{% endif %}"
                        {% static_href %}href="{% if lang == site.default_lang %}{{site.baseurl}}/{% else %}{{site.baseurl}}/{{ lang }}{% endif %}"{% endstatic_href %}
                    >{{ lang }}</a>
                {% endfor %}
            </div>
        </header>

        <section class="intro-container">
            {% assign intro = site.intro | where:'lang', site.active_lang | first %}

            {{ intro.content }}
        </section>

        <section class="stack-container">
            <h2 class="secondary-title">{{ site.data[site.active_lang].strings.stack }}</h2>

            {% assign stack = site.stack | where:'lang', site.active_lang | sort: "position" %}

            {% for item in stack %}
                <div class="stack-item-container">
                    <div class="stack-item-title">{{ item.title }}</div>
                    <div class="stack-item-content">{{ item.content }}</div>
                </div>
            {% endfor %}
        </section>

        <section class="experiences-container">
            <h2 class="secondary-title">{{ site.data[site.active_lang].strings.experience }}</h2>

            {% assign experiences = site.experiences | where:'lang', site.active_lang | sort: "start_date" | reverse %}

            {% for item in experiences %}
                <div class="experience-item-container">
                    <h3 class="experience-company">{{ item.company }}</h3>
                    <div class="experience-title">{{ item.role }}</div>
                    <div class="experience-period">
                        {% include date_format.liquid raw_date=item.start_date %} - {% include date_format.liquid raw_date=item.end_date %} {% include duration.liquid experience=item %}
                    </div>

                    <div>{{ item.content }}</div>
                </div>
            {% endfor %}
        </section>

        <section class="formation-container">
            <h2 class="secondary-title">{{ site.data[site.active_lang].strings.formation }}</h2>

            {% assign formations = site.formations | where:'lang', site.active_lang | sort: "year" | reverse %}

            {% for item in formations %}
                <div class="formation-item-container">{{item.year}} {{ item.degree }}, {{ item.school }}</div>
            {% endfor %}
        </section>
    </div>
</div>
