.main-container {
  width: 100vw;

  background-color: $background-color;
  color: $base-font-color;
  font-family: $base-font;

  padding-top: 20px;
  // font-family: "Montserrat", sans-serif;

  @media (min-width: $width-1) {
    padding-top: 30px;
  }
}

.content-container {
  background-color: white;
  padding: 10px;
  width: 95%;
  margin: auto;

  @media (min-width: $width-1) {
    max-width: 900px;
  }
}

.header {
  border: 2px solid red;
}

.main-title {
  font-size: 2em;
}

.secondary-title {
  font-size: 1.5em;
}

.intro-container {
  border: 2px solid orange;

  p {
    margin-bottom: 5px;
  }
}

.stack-container {
  border: 2px solid violet;
}

.experiences-container {
  border: 2px solid blue;

  p {
    margin-bottom: 5px;
  }
}

.experience-container {
  margin-top: 10px;;
}

.experience-company {
  font-weight: bold;
}

.experience-period {
  margin-bottom: 5px;
}

.formation-container {
  border: 2px solid green;
}