.main-container {
  width: 100vw;
  height: 100vh;

  background-color: $background-color;
  color: $base-font-color;
  font-family: $base-font;

  padding-top: 20px;
  // font-family: "Montserrat", sans-serif;

  @media (min-width: $width-1) {
    padding-top: 30px;
  }
}

.content-container {
  background-color: white;
  padding: 10px;
  width: 95%;
  margin: auto;

  @media (min-width: $width-1) {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 2fr
  }
}

.header {
  border: 2px solid red;

  @media (min-width: $width-1) {
    grid-column: 1 / 3;
  }
}

.main-title {
  font-size: 2em;
}

.secondary-title {
  font-size: 1.5em;
}

.intro-container {
  border: 2px solid orange;

  p {
    margin-bottom: 5px;
  }

  @media (min-width: $width-1) {
    grid-column: 1;
  }
}

.stack-container {
  border: 2px solid violet;

  @media (min-width: $width-1) {
    grid-column: 1;
  }
}

.experience-container {
  border: 2px solid blue;

  p {
    margin-bottom: 5px;
  }

  @media (min-width: $width-1) {
    grid-column: 2;
    grid-row: 2/5;
  }
}

.formation-container {
  border: 2px solid green;

  @media (min-width: $width-1) {
    grid-column: 1;
  }
}