.main-container {
  background-color: $background;
  color: $font-color;
  font-family: $base-font;

  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $mobile-width) {
    padding-top: 30px;
  }

  @media print {
    padding-top: 0;
    background-color: unset;
  }
}

.content-container {
  background-color: $text-background;
  width: 95%;
  padding: 15px;
  margin: auto;
  border-radius: 2px;

  p {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $mobile-width) {
    max-width: 700px;
    margin-top: 50px;
    padding: 15px 30px;
    text-align: justify;
  }

  @media print {
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    background-color: unset;
  }
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: $mobile-width) {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media print {
    margin-bottom: 40px;
  }
}

.main-title {
  font-family: $title-font;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 5px;
}

.subtitle {
  font-style: italic;
}

.langage-selector {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  @media (min-width: $mobile-width) {
    margin-top: 0;
    margin-right: 10px;
  }

  @media print {
    display: none;
  }
}

.langage-link {
  &:first-of-type {
    margin-right: 20px;

    @media (min-width: $mobile-width) {
      margin-right: 10px;
    }
  }
}

.selected-langage {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.secondary-title {
  font-family: $title-font;
  font-size: 1.5em;
  font-weight: bold;
  color: $title-color;

  margin-bottom: 10px;

  @media (min-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.intro-container {
  margin-bottom: 20px;
}

.contact-container {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
}

.stack-container {
  margin-bottom: 20px;

  p {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.stack-item-container {
  margin-bottom: 10px;

  @media (min-width: $mobile-width) {
    display: flex;
  }
}

.stack-item-title {
  margin-bottom: 10px;
  font-weight: bold;

  @media (min-width: $mobile-width) {
    margin-bottom: 0;
    font-weight: normal;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.experiences-container {
  margin-bottom: 20px;
}

.experience-item-container {
  margin-bottom: 25px;
}

.experience-company {
  font-weight: bold;
  margin-bottom: 5px;
}

.experience-period {
  margin-bottom: 10px;
}

.formation-item-container {
  margin-bottom: 5px;
  display: flex;
}

.formation-item-year {
  margin-right: 10px;
}
