$background: #e8edf8;
$text-background: #F7F9F9;
$base-font-color: #142733;
$base-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// $dark-blue: #192A51;

$mobile-width: 600px;
