<!DOCTYPE html>
<html lang="{{ site.active_lang | default: site.default_lang }}">
  <head>
    <title>Rémy Maucourt</title>

    <meta name="description" content="CV de Rémy Maucourt, Fullstack web developper senior, Agiliste / Craftman">
    <meta name="keywords" content="Web, Developper, Développeur, Agile, Agilité, Craft, Ruby, Python, HTML, CSS, JavaScript">
    <meta name="author" content="Rémy Maucourt">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body>
    {{ content }}
  </body>
</html>
